.faq_container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  flex-wrap: wrap;
}
.faq_left {
  width: 486px;

  flex: 1;
}
.faq_right {
  width: 690px;
}
.faq_right_head {
  display: none;
}
.faq_right_text {
  display: none;
}
.faq_left_head {
  padding: 0px 0px 16px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #1c2024;
  margin-bottom: 0;
}
.faq_left_text {
  padding: 0px 0px 16px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #60646c;
  margin-bottom: 0;
}
.faq_left_box {
  width: 446px;
  padding: 24px;
  border-radius: 16px;
  justify-content: space-between;
  display: flex;
  background-color: #f9f9fb;
  margin-top: 16px;
}
.faq_left_chat_btn {
  padding: 14px 16px 14px 16px;
  border-radius: 12px;
  background: #000000;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #edeef0;
  margin-top: 20px;
}
.faq_left_box_text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  margin-bottom: 0;
}
/* Faq.css */

.accordion-button:not(.collapsed) {
  background-color: transparent !important;
  box-shadow: none !important;
}
.accordion-button {
  display: flex;
  gap: 20px;
}
.accordion-header {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #1c2024;
  margin: 12px 0px !important;
}
.accordion-body {
  margin-left: 46px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #60646c;
  /* padding-top: 0px !important; */
}
.accordion-button::after {
  display: none !important;
}
.accordion-item {
  margin-bottom: 24px;
  border: 1px solid #b9bbc6 !important;
  border-radius: 16px !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: none !important;
  outline: 0;
  box-shadow: none !important;
}

@media (max-width: 768px) {
  .faq_left_head {
    display: none;
  }
  .faq_left_text {
    display: none;
  }
  .faq_container {
    flex-direction: column-reverse;
  }
  .faq_right {
    width: 100%;
  }
  .faq_left {
    width: 100%;
  }
  .faq_right_head {
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 28px;
    color: #1c2024;
    display: block;
  }
  .faq_right_text {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    display: block;
    color: #60646c;
  }
  .faq_left_box {
    width: 100%;
  }
}
