* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.custom_container {
  width: 100%;
  padding: 80px 120px 0px 120px;
}

@media (max-width: 768px) {
  .custom_container {
    width: 100%;
    padding: 16px;
  }
}
